/*
    Document   : style
    Created on : 18/01/2015, 01:25:42
    Author     : Kalman
    Description:
        Purpose of the stylesheet follows.
*/
/***********Bootstrap**************/

.x-remover{
    float: right;
    border: solid 1px black;
    border-radius: 2px;
    text-decoration: none;
    background-color: buttonface;
}
.attribute-wrapper{
    padding: 12px;
    border: 1px solid #ccc;
    margin-bottom: 3px;
    margin-top: 3px;
    border-radius: 5px;
    background-color: lightgray;
}
.attribute-wraper h4{
    text-align: center;
    font-family: cursive;
}
.giinius-form-wrapper ul{
    padding-left: 0;
}

.giinius-form-wrapper li{
    list-style: none;
}
.dropdown-section{
    overflow: hidden;
    display: none;
}
.dropdown-section.active{

}
/**********Sortable****************/
.ui-state-highlight{
    border: 2px dashed #ccc;
    min-height: 200px;
}

