/*
    Document   : style
    Created on : 18/01/2015, 01:25:42
    Author     : Kalman
    Description:
        Purpose of the stylesheet follows.
*/
/***********Bootstrap**************/

.x-remover{
    float: right;
    border: solid 1px black;
    border-radius: 2px;
    text-decoration: none;
    background-color: buttonface;
}
.attribute-wrapper{
    padding: 12px;
    border: 1px solid #ccc;
    margin-bottom: 3px;
    margin-top: 3px;
    border-radius: 5px;
    background-color: lightgray;
}
.attribute-wraper h4{
    text-align: center;
    font-family: cursive;
}
.giinius-form-wrapper ul{
    padding-left: 0;
}

.giinius-form-wrapper li{
    list-style: none;
}
.dropdown-section, .from-table-section, .from-list-section, .geocoding-section{
    overflow: hidden;
    transition: max-height 0.8s cubic-bezier(.01,1.45,.98,.01);
    max-height: 0;
}
.section.active, .from-table-section.active, .from-list-section.active{
    display: block;
    max-height: 100px;
}
div.form label.inline{
    display: inline;
}
/**********Sortable****************/
.ui-state-highlight{
    border: 2px dashed #ccc;
    min-height: 200px;
}

